<div class="col-md-4">
    <div class="card mb-4">
        <img class="card-img-top"
             src="https://via.placeholder.com/286x180"
             alt="{{ product.name }}">
        <div class="card-body">
            <h4 class="card-title">Name : {{ product.name }}</h4>
            <p class="card-text">Seller: {{ product.user.username }}</p>
            <p class="card-text">Price: {{ product.price }}$</p>
            <a href="{% url 'shop:detail' pk=product.pk %}" class="btn btn-primary"><i class="fa-solid fa-circle-info"></i> Buy </a>
        </div>
    </div>
</div>
