<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"><i class="fa-solid fa-utensils"></i> Karyar</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/shop/' %}active{% endif %}"
                       href="{% url 'shop:list' %}"><i class="fa-solid fa-house"></i> Home</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href=""><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href=""><i class="fa-solid fa-right-to-bracket"></i> Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
